{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <div class="container">
            <h1>Vue</h1>

            <example></example>

        </div>
    </div>
{% endblock %}
